@charset "UTF-8";
.wrapper {min-width: 320px; height: 100%; position: relative; display: flex; flex-direction: column; flex-shrink: 0; font-family: 'NanumSquareNeo';}
:root {
    --pink: #ffafaf;
    --green: #14aa76;
    --beige: #e8cf9b;
    --orange: #f2551d;
    --lightgreen: #9bd671;
    --rosepink: #c16880;
    --yellow: #eaff30;
}
/* header s */
.header {position: fixed;top: 0;left: 0;width: 100%;height: 13.33vw;max-height: 110px;border-bottom: 1px solid #000;background: rgba(255,255,255,.13);backdrop-filter: blur(50px) brightness(1.08);-webkit-backdrop-filter: blur(50px) brightness(1.08);z-index: 200;box-sizing: border-box;}
.inner-header {height: 100%; padding: 2vw; display: flex; justify-content: space-between; align-items: center;}
.logo {font-size: 50px; font-weight: 600; padding: 0 15px;}
.menu {font-size: 40px;}
.accordion {width: 100px; padding: 4px 6px; background: #fff; border: 1px solid #000; text-align: center;}
/* header e */

/* main s */
.container {background: beige;}

.main-visual {min-height: 600px; background: linear-gradient(90deg, rgb(255, 232, 121) 0%, rgb(255, 189, 189) 20%, rgb(255, 189, 189) 80%, rgb(149, 187, 158) 100%);}

.scroll-text {width: 100%; overflow: hidden; white-space: nowrap; background-color: #fff; font-size: clamp(15vw, 18vw, 20vw); font-family: 'Modak', cursive;}
.scroll-text>ul {display: flex; align-items: center;}
.scroll-text>ul>li {padding-top: 10px; font-weight: 300; letter-spacing: -1px; margin-right: 20px; animation: marqueeleft linear infinite 9000ms;}

@keyframes marqueeleft{
    from {transform: translate3d(0, 0, 0)}
    to {transform: translate3d(-100%, 0, 0)}
}

@keyframes marqueeright{
    from {transform: translate3d(-100%, 0, 0)}
    to {transform: translate3d(0, 0, 0)}
}

.box-list {position: relative; display: flex; flex-wrap: wrap; border-top: 1px solid #000; background-color: #fff;}
.box-list:before {content: ''; position: absolute; top: 0; left: 50%; width: 1px; height: 100%; background-color: #000;}
.project-wrap .box-list:before {display: none;}
.box {width: 50%; min-height: 200px; border-bottom: 1px solid #000; overflow: hidden;}
.color-box {width: 100%; min-height: 450px; border-bottom: 1px solid #000; overflow: hidden;}
.box-inner {display: flex; width: 100%; height: 100%; min-height: 450px;}
.backcover {width: 13.33%; max-width: 60px; border-right: 1px solid #000;}

.contact {min-height: 400px; background: #fff; padding: 10em 20px;}
.contact .title {font-size: 40px; font-weight: 700; text-align: center;}

@media screen and (min-width: 1024px) {
    .project-wrap .box-list:before {display: block;}
    .color-box {width: 50%;}
}
/* main e */

/* footer s */
.footer {width: 100%; height: 200px; background: #000;}
/* footer e */